* {
    text-align: left;
}

body {
    background-color: #FFFEF6;
}

h1 {
    color: rgb(14, 3, 131);
    text-align: center;
}

h2 {
    color: rgb(9, 9, 9);
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
}

footer {
    justify-content: center;
    display: flex;
    gap: 20px;
}